<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Anasayfa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="false" [options]="slideOpts">
    <ion-slide>
      <ion-card>
        <img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" alt="">
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card> 
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" alt="">
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card> 
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" alt="">
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
      </ion-card> 
    </ion-slide>
  </ion-slides>
  



  
</ion-content>
